# Pour cree la base de donnees

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('inventory.db')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        item_name TEXT,
        quantity INTEGER,
        price REAL,
        color TEXT
    )
''')

# Ajout des articles

In [5]:
products_data = [
    ('Shirt', 100, 25.50, 'Blue'),
    ('Pants', 80, 35.00, 'Black'),
    ('Hat', 120, 15.00, 'Red'),
    ('Jacket', 60, 50.00, 'Green'),
    ('Socks', 200, 5.00, 'White'),
    ('Dress', 70, 45.00, 'Purple'),
    ('Tie', 90, 12.00, 'Gray'),
    ('Scarf', 50, 18.00, 'Yellow'),
    ('Shorts', 110, 22.00, 'Beige'),
    ('Blouse', 85, 28.00, 'Pink'),
    ('Coat', 45, 60.00, 'Navy'),
    ('Skirt', 75, 30.00, 'Orange'),
    ('Vest', 30, 20.00, 'Brown'),
    ('Belt', 100, 8.00, 'Tan'),
    ('Gloves', 150, 7.50, 'Maroon'),
    ('Polo Shirt', 95, 24.00, 'Cyan'),
    ('Jeans', 130, 38.00, 'Denim'),
    ('Raincoat', 40, 40.00, 'Magenta'),
    ('Trench Coat', 25, 70.00, 'Grey'),
    ('Cardigan', 65, 35.00, 'Lavender')
]

In [6]:
cursor.executemany('''
    INSERT INTO products (item_name, quantity, price, color)
    VALUES (?, ?, ?, ?)
''', products_data)

In [7]:
conn.commit()

In [8]:
conn.close()